@import '../../assets/styles/Global.scss';

.Movements {
  width: 280px;
  max-height: 300px;
  overflow: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid $grey-color;
  border-radius: 10px;
}

.Movements__title {
  text-align: center;
  color: $blue-color;
}
