@import '../../assets/styles/Global.scss';

.MovesPanel {
  width: 300px;
  max-height: 280px;
  overflow: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid $grey-color;
  border-radius: 10px;
}

.MovesPanel__congrats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MovesPanel__congrats__text {
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  color: $green-color;
}

.MovesPanel__congrats__btn {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 20px;
  border: 1px solid $grey-color;
  border-radius: 5px;
  background-color: $yellow-color;
  outline-style: none;
}

.MovesPanel__congrats__btn:active {
  color: $grey-color;
  background-color: $orange-color;
}

.MovesPanel__actions {
  display: flex;
  justify-content: space-evenly;
}
.MovesPanel__actions__btn {
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid $grey-color;
  border-radius: 5px;
  font-size: 16px;
  background-color: $blue-color;
  color: $grey-color;
  outline-style: none;
}

.MovesPanel__actions__btn:nth-child(2) {
  background-color: $orange-color;
}

.MovesPanel__actions__btn:active {
  color: black;
  background-color: $yellow-color;
}

.MovesPanel__movesHistory {
  margin-bottom: 0;
}
