@import '../../assets/styles/Global.scss';

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 75px;
  font-weight: bold;
}

.Footer__made {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  padding: 0 7.9px;
  margin-left: 5px;
  text-decoration: none;
  font-family: $me-font;
  color: $white-color;
  background-color: $black-color;
  border-radius: 5px;
}

.logo-img {
  color: $me-color;
}
