@import url(https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap);

//Fonts
$title-font: 'Oswald', sans-serif;
$text-font: 'Muli', sans-serif;

//Colors
$blue-color: #4086f4;
$green-color: #31aa52;
$grey-color: #ebebeb;
$orange-color: #f88800;
$red-color: #eb4132;
$yellow-color: #fbbd01;
