@import url(https://fonts.googleapis.com/css?family=Muli|Oswald&display=swap);

//Fonts
$title-font: 'Oswald', sans-serif;
$text-font: 'Muli', sans-serif;

//Colors
$blue-color: #0052A2;
$green-color: #00A239;
$grey-color: #ebebeb;
$orange-color: #EF7C00;
$red-color: #E40026;
$white-color: #ffffff;
$yellow-color: #FFE100;
