@import '../../assets/styles/Global.scss';

.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0;
  font-size: 18px;
}

.NotFound__title {
  margin-top: 0;
}

.NotFound__img {
  width: 320px;
  height: 320px;
}
